/* BROAD DOC ELEMENTS */
@font-face {
  font-family: "Gotham Black";
  font-style: normal;
  font-weight: normal;
  src: local("Gotham Blakc") url("assets/fonts/GOTHAM-BLACK.TTF")
    format("opentype");
}

@font-face {
  font-family: "gotham black italic";
  src: url("assets/onts/GOTHAM-BLACKITALIC.TTF") format("opentype");
}

@font-face {
  font-family: "myriad pro";
  src: url("assets/fonts/MyriadPro-Regular.otf") format("opentype");
}

:root {
  --blue: #003b71;
  --pink: #e54181;
}

* {
  margin: 0;
  z-index: 50;
}

a {
  text-decoration: none;
}

h2 {
  font-family: "Gotham Black", sans-serif;
  font-size: 3.6em;
  color: white;
  text-align: center;
}

@keyframes make_visible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes make_visible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
